/*
Commentaires CSS
 */

*
{
}

body
{
    font-size: medium;
    /*font-family: Georgia;*/
    font-family: "Times New Roman", Georgia, Serif;
    background-color: white;
    width: 80%;
    margin: auto;
}

hr
{
    border:none;
    height:2px;
    background-color:black;
}

main
{
    width: 50%;
    margin: auto;
}

section h3
{
    text-align:left;
}

canvas 
{
    border: 2px solid black;
    width: 640px;
    height: 480px;
    background-color: black;
}

article h2
{
    text-decoration: underline;
}
