/*
Commentaires CSS
*/

*
{
}

table.publications td.title a:visited
{
    color:blue;
}

table.publications td.title a:hover
{
    color:orange;
}

a:hover
{
    color:orange;
}

a:visited
{
    color:blue;
}

.website img.teaserImage
{
    border: thick solid white;
    border-radius: 5px;
}

.website img.teaserImage:hover
{
    border: thick solid LightGrey;
    border-radius: 5px;
}

table
{
    border-collapse : separate;
    border-spacing : 10px 10px;
}

table.publications
{
    border-collapse : separate;
    border-spacing : 1px 1px;
}

table.publications tr.publication-line td
{
    padding-top: 15px;
}

table.publications td.teaser
{
    width:250px;
    text-align:center;
    padding-right: 15px;
}

table.publications td.title
{
    font-size: large;
}

td.institute
{
    width : 300px;
}

td.hours
{
    width : 30px;
}

td.course
{
    width : 200px;
}

.website body
{
    font-size: medium;
    font-family: Helvetica, Georgia, Serif;
    background-color: white;
    margin: auto;
}

hr
{
    border:none;
    height:2px;
    background-color:black;
}

.website main
{
    /*padding : 20px;*/
    margin-left:auto;
    margin-right:auto;
    /*box-shadow:0px 0px 5px 5px #888*/
}

.website h3
{
    text-align:left;
    font-size: large;
}

.website h1
{
    font-size: xx-large;
}

.website h2
{
    font-size: x-large;
}

.website td.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.website table.center
{
    margin-left: auto;
    margin-right: auto;
}

canvas 
{
    border: 2px solid black;
    width: 640px;
    height: 480px;
}

.website p
{
    font-size: medium;
}

.website blockquote
{
    font-size: medium;
}

.website li
{
    font-size: medium
}

iframe
{
    border: 0px;
}
