<header class="mdc-top-app-bar mdc-theme--primary">

  <div class="mdc-top-app-bar__row">

    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title mdc-theme--on-primary">
        Pierre-Luc Manteaux
      </span>
      <h4><a class="mdc-theme--on-primary mdi mdi-file-pdf-box" target="_blank" onclick="website.test(this)" href="/assets/pdf/cv.pdf"></a></h4>
      <h4><a class="mdc-theme--on-primary mdi mdi-linkedin-box" target="_blank" onclick="website.test(this)" href="https://www.linkedin.com/in/pierre-luc-manteaux-725141107/"></a></h4>
    </section>

    <section class="mdc-top-app-bar__large-screen mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <div class="mdc-tab-bar" role="tablist">
        <div class="mdc-tab-scroller">
          <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">

              <!-- <a onclick="website.test(this)" href="/pages/blog.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="0">
                <span class="mdc-tab__content"> Blog</span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </a> -->

              <a onclick="website.test(this)" href="/pages/projects.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="1">
                <span class="mdc-tab__content">
                    Projects
                </span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </a>

              <a onclick="website.test(this)" href="/pages/thesis.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="2">
                <span class="mdc-tab__content">
                    Thesis
                </span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </a>

              <a onclick="website.test(this)" href="/index.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="3">
                <span class="mdc-tab__content">
                    About
                <span>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <span class="mdc-tab__ripple"></span>
              </a>

            </div>
          </div>
        </div>
      </div>
    </section>

</div>

<div class="mdc-top-app-bar__small-screen mdc-top-app-bar__row">

  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
    <div class="mdc-tab-bar" role="tablist">
      <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content">

            <!-- <a onclick="website.test(this)" href="/pages/blog.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="0">
              <span class="mdc-tab__content"> Blog</span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a> -->

            <a onclick="website.test(this)" href="/pages/projects.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="1">
              <span class="mdc-tab__content">
                  Projects
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

            <a onclick="website.test(this)" href="/pages/thesis.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="2">
              <span class="mdc-tab__content">
                  Thesis
              </span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

            <a onclick="website.test(this)" href="/index.html" class="mdc-theme--on-primary mdc-tab" role="tab" aria-selected="true" tabindex="3">
              <span class="mdc-tab__content">
                  About
              <span>
              <span class="mdc-tab-indicator">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </a>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>

</header>
