<nav class"navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Thesis<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/thesis.html#thesis-research">Research</a></li>
          <li><a href="/thesis.html#thesis-publications">Publications</a></li>
          <li><a href="/thesis.html#thesis-teaching">Teaching</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/projects.html#projects-sphliquid">SPH Liquid</a></li>
          <li><a href="/projects.html#projects-raytracerSandbox">Raytracer Sandbox</a></li>
        </ul>
      </li>
      <li><a href="/blog.html">Blog</a></li>
    </ul>
  </div>
</nav>
