<!doctype html>
<html lang="en">
  <head>
    <!-- Meta data -->
    <!-- Encoding -->
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8">
    <!-- Viewport adaptation to device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Keywords for search engine -->
    <meta name="keywords" content="liquid simulation, sph, code, computer graphics, physics-based animation">
    <!-- Description of the webpage -->
    <meta name="description" content="A list of shared projects">
    <!-- Author -->
    <meta name="author" content="Pierre-Luc Manteaux">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />    
    <link rel="stylesheet" href="/assets/css/styles.css">

    <script type="text/javascript" src="/assets/js/website.js"></script>

    <title>{{ page.title }}</title>
  </head>

  <body>

    {% include header.html %}

    <section class="website--fixed-adjust">
        {{ content }}
    </section>

    {% include footer.html %}

  </body>
</html>
