<!doctype html>
<html lang="en">
  <head>
    <!-- Meta data -->
    <!-- Encoding -->
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8">
    <!-- Viewport adaptation to device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Keywords for search engine -->
    <meta name="keywords" content="liquid simulation, sph, iisph, code, computer graphics, physics-based animation">
    <!-- Description of the webpage -->
    <meta name="description" content="A list of shared projects">
    <!-- Author -->
    <meta name="author" content="Pierre-Luc Manteaux">

    <!-- <link rel="stylesheet" href="style.css"/> -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!--Highlight-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!--Bootstrap & JQuery library-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--Html scripts-->
    <script type="text/javascript" src="/assets/js/website.js"></script>

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />



    <title>{{ page.title }}</title>
  </head>

  <body onload="website.setup()">
    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
