---
layout: default
---

<main>

<header>
  <h1>{{ page.title }}</h1>
</header>

<section>

<h2>Participants</h2>

<ul>
  <li>Advisors: {{ page.advisors }}</li>
  <li>Students: {{ page.students }}</li>
  <li>Duration: {{ page.duration }}</li>
</ul>

<h2>Objectives</h2>

<p>{{ page.objective }}</p>

{% if page.video or page.image %}

  <h2>Results</h2>

  {% if page.video%}
  <div class="responsive-iframe-container">
    <iframe class="responsive-iframe" src="{{ page.video }}" allowfullscreen></iframe>
  </div>
  {% endif %}

  <br>

  {% if page.image%}
    <img alt="Image" src = "{{ page.image }}">
  {% endif%}

{% endif %}

</section>

</main>
