---
layout: default
---

<article>

<header>
  <h2>{{ page.title }}</h2>
</header>

<h3>Participants</h3>

<ul>
  <li>Advisors: {{ page.advisors }}</li>
  <li>Students: {{ page.students }}</li>
  <li>Duration: {{ page.duration }}</li>
</ul>

<h3>Objectives</h3>

<p>{{ page.objective }}</p>

{% if page.video or page.image %}

<h3>Results</h3>

  {% if page.video%}
  <div class="responsive-iframe-container">
    <iframe class="responsive-iframe" src="{{ page.video }}" allowfullscreen></iframe>
  </div>
  {% endif %}

  <br>

  {% if page.image%}
    <img class="responsive-image" alt="Image" src = "{{ page.image }}"/>
  {% endif%}

{% endif %}

</article>
